version: "3"

services:
  attack-service:
    build:
      context: attack-service
    ports:
      - "8080:3000"
    environment:
      - MONGO_DB_URL=mongodb://mongo/attack-service

  uploader-service:
    build:
      context: uploader-service
    depends_on:
      - mongo
    environment:
      - MONGO_DB_URL=mongodb://mongo/attack-service
      - INPUT_FILE_NAME=input-3.json
    volumes:
      - ./uploader-service/src:/usr/app/src

  zoo:
    image: zookeeper:3.4.9
    restart: unless-stopped
    hostname: zoo
    ports:
      - "2181:2181"
    environment:
      ZOO_MY_ID: 1
      ZOO_PORT: 2181
      ZOO_SERVERS: server.1=zoo:2888:3888
    volumes:
      - zoo_data:/data
      - zoo_datalog:/datalog

  kafka:
    image: bitnami/kafka:2.8.0
    hostname: kafka
    ports:
      - "9092:9092"
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CLIENT:PLAINTEXT,EXTERNAL:PLAINTEXT
      - KAFKA_CFG_LISTENERS=CLIENT://:9093,EXTERNAL://:9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=CLIENT://kafka:9093,EXTERNAL://localhost:9092
      - KAFKA_INTER_BROKER_LISTENER_NAME=CLIENT
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zoo:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
    volumes:
      - kafka:/var/lib/kafka/data
    depends_on:
      - zoo

  clickhouse_server:
    image: yandex/clickhouse-server:21.8.8
    ports:
      - "8123:8123"
    volumes:
      - clickhouse:/var/lib/clickhouse
      - ./clickhouse/zookeeper-servers.xml:/etc/clickhouse-server/conf.d/zookeeper-servers.xml

  clickhouse_client:
    image: yandex/clickhouse-client:21.8.8
    entrypoint:
      - /bin/sleep
    command:
      - infinity

  mongo:
    image: mongo:5.0
    ports:
      - "27017:27017"
    volumes:
      - mongodb:/data/db

volumes:
  mongodb:
  zoo_data:
  zoo_datalog:
  kafka:
  clickhouse:
